{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courses</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}"> 
    
</head>
  <body>
     
    {% for course in courses %}
    <div class="card" style="width: 18rem;">
        {% if course.image %}
        <img src="{{ course.image.url }}" alt="{{ course.name }} image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title"><h2>{{ course.name }}</h2></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'course_topics' course.id %}" class="btn btn-primary">View Topics</a>
        </div>
      </div><br><br>
    {% endfor %}
 
  </body>
</html>