{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Computer Science Courses</title>
  <link rel="stylesheet" href="{% static 'css/cs_courses.css' %}"> 
</head>
<body>
  <div class="container">
    <div class="course">
        <img src="{% static 'images/Software-E.png' %}" alt="Software Engineering">
      <a href="{% url 'questions' %}"><h2>Software Engineering</h2></a>
      <div class="progress">
        <div class="progress-bar" style="width: 10%;"></div>
      </div>
    </div>
    <div class="course">
        <img src="{% static 'images/Web-P.jfif' %}" alt="Web Programming">
         
        <h2> Web Programming</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 20%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="{% static 'images/Database.png' %}" alt="Database system">
        <h2>Database system </h2>
        <div class="progress">
          <div class="progress-bar" style="width: 30%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="{% static 'images/Programming.png' %}" alt="Computer Programming">
        <h2>Computer Programming</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 40%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="{% static 'images/OOP.png' %}" alt="Object Oriented Programming">
        <h2>Object Oriented Programming</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 0%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="{% static 'images/Algorithm.png' %}" alt="Design and analysis of algorithms">
        <h2>Design and analysis of algorithms</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 10%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="software_engineering.jpg" alt="Software Engineering">
        <h2>Data structure and algorithms</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 50%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="software_engineering.jpg" alt="Software Engineering">
        <h2> Data communication and Computer Networking</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 70%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="software_engineering.jpg" alt="Software Engineering">
        <h2>Computer security</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 70%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="software_engineering.jpg" alt="Software Engineering">
        <h2>Network and System administration</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 70%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="software_engineering.jpg" alt="Software Engineering">
        <h2>Introduction to Artificial Intelligence </h2>
        <div class="progress">
          <div class="progress-bar" style="width: 70%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="software_engineering.jpg" alt="Software Engineering">
        <h2>Operating System</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 70%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="software_engineering.jpg" alt="Software Engineering">
        <h2> Computer Organization  and architecture</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 70%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="software_engineering.jpg" alt="Software Engineering">
        <h2>Automata and Complexity Theory</h2>
        <div class="progress">
          <div class="progress-bar" style="width: 70%;"></div>
        </div>
      </div>
      <div class="course">
        <img src="software_engineering.jpg" alt="Software Engineering">
        <h2>Compiler Design </h2>
        <div class="progress">
          <div class="progress-bar" style="width: 70%;"></div>
        </div>
      </div>
      
     
  </div>
</body>
</html>
