{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Quiz App!</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
</head>
<body>
  
    <div class="container">
      <div class="card">
        <a href=""><h2>Quiz Mode</h2></a>
        <p>Test your knowledge with our quizzes!</p>
      </div>
      <div class="card">
       <a href=""><h2>Feedback</h2></a> 
        <p>Provide us with your valuable feedback.</p>
      </div>
      <div class="card">
       <a href=""><h2>News</h2></a> 
        <p>Stay updated with the latest news and announcements.</p>
      </div>
      <div class="card">
        <a href=""><h2>About</h2></a>
        <p>Learn more about our website and team.</p>
      </div>
      <div class="card">
        <a href=""><h2>Model Multiple Choice Questions</h2></a>
        <p>Practice with our model MCQs to ace your exams.</p>
      </div>
      <div class="card">
        <a href="{% url 'department_list' %}"><h2>Course Specific Multiple Choice Questions</h2></a>
        <p>Explore MCQs tailored to your course.</p>
      </div>
    </div>
  </body>
  </html>